$radius: 10px;

.user_list {
  .add_button {
    width: 150px;
    height: 40px;
    background: #043933 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 25px #00000040;
    border-radius: 10px;
    opacity: 1;
    color: white;
    font-weight: bold;
    border: none;
  }
  .button_group {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .button {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
  }

  .edit_button {
    @extend .button;
    background-color: #39b54a;
  }

  .delete_button {
    @extend .button;
    background-color: #d80000;
  }

  .table-container {
    overflow-x: auto;
    margin-top: 2rem;
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    img {
      width: 65px;
      border-radius: $radius;
    }
  }

  th {
    span {
      display: flex;
      align-items: baseline;
    }

    button {
      font-size: 25px;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      margin-left: 8px;
    }
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  @media (max-width: 768px) {
    .table-container {
      overflow-x: scroll;
    }

    .table {
      table-layout: auto;
    }

    th,
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
