.edit_modal_container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .nested_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 300px;

      background-color: white;
      padding: 2rem;
      border-radius: 10px;

      label {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .cross_icon_continer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
      margin: 0;
    }

    .cross_icon {
      position: relative;
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 2px;
        background-color: black;
        transform: translate(-50%, -50%);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
